header {
    font-size: 60px;
    color: #ff0000;
}

h2 + p {
    font-size: 48px;
    color:#c00000;
}

h1, footer {
    font-size: 48px;
    color: #0000ff;
}

section p {
    font-size: 36px;
    color: #ff8000;
}

main p {
    font-size: 24px;
    color: #00ff00;
}

h2 + p {
    font-size: 48px;
    color:#c00000;
}

h3 ~ p {
    font-size: 12px;
    color: #ff8080;
}